html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, form, fieldset, legend, input, button, textarea, select, option, tr, th, td {
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: 微软雅黑;
    vertical-align: baseline;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin: 0px;
    padding: 0px;
}
.header{
	width: 100%
	height: 80px;
	display: flex;
	justify-content: center;
}
.navbox{
	width: 80%;
	display: flex;
	align-items:center;
	justify-content:space-between;
}
img{
	width: 100%;
	height: 100%;
}
.navbox1{
	width: 25.75%;
	/*height:100%;*/
	display: inline-block;
	
}
.xx{
	/*display: inline-block;*/
	display: flex;
	justify-content: space-around;
	width: 62.52%;
	/*justify-content:flex-end;*/
}
.navbox2{
/*	display: inline-block;*/
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items:center;
	/*justify-content:flex-end;*/
	/*justify-content:space-around;*/
}
li{
	list-style-type: none;
	display: flex;
	/*margin-left: 40px;*/
	font-size: 1vw;
	font-weight:bold;
}
a{
	text-decoration: none;
	/*color: #000000;*/
}
.aa1{
	color: #724cf0;
}
.aa{
	color: #555;
}

.aa:hover{
	color: #724cf0;
}
li.a{
/*	color: #555;*/
}
.xx1{
	margin-left:15px;
	font-size: 1vw;
}
.nav-top{
	width: 110px;
	height: 40px;
	background: #606ad8;
	/*margin-left: 40px;*/
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border-radius: 4px;

}
.xx2{
	font-size: 1vw;
	color: #fff;
}
.xx2:hover{
	color: #724cf0;
}